<% provide(:title, '') %>

<div class='row'>
  <div class='span10 hero-unit center'>
    <h1>Talisman</h1>
    <p>Sample application used to develop tests for, and explore the properties of, the modules included in the <%= link_to 'Devise', 'https://github.com/plataformatec/devise' %> Authentication Solution for <%= link_to 'Ruby on Rails', 'http://rubyonrails.org' %>.</p>
    <%= link_to 'Sign up now!', new_user_registration_path, class: 'btn btn-large btn-primary' %>
  </div>
</div>